.bio{
  min-height: 1300px;
  padding:100px 0;
}


.bio .section-title{
  color: $mainColor;
}

.bio .row{
  justify-content: center;
  flex-wrap:wrap;
  margin-bottom: 60px;
}

.bio .about-me{
  margin-top: 50px;
  margin-bottom: 60px;
}

.about-me-picture{
  text-align: center;
  position:relative;
  z-index:2;
}

.about-me-info{

 padding-top: 80px;
 text-align: center;
 margin:0 auto;
 width: 70%;
}

.about-me-title{
  padding-bottom: 30px;
  font-size: 25px;
  line-height: 35px;
  position: relative;
  &:after{
    position: absolute;
    top: 42px;
    left:50%;
    content: '';
    width:350px;
    height:2px;
    background-color: orangered;
    transform: translateX(-50%);
  }

  &:before{
    position: absolute;
    content: '';
    width:8px;
    height:8px;
    right: 50%;
    top: 39px;
    background-color: $orangeColor;
    border-radius: 50%;
    transform: translateX(-50%);
  }
}


.about-me-text{
  line-height: 35px;
  font-size: 17px;
}

.bio img {
  width:260px;
  height:260px;
  border-radius: 50%;

}

.bio-box{
  padding:20px 30px 20px 30px;
  margin-right:17px;
  margin-left:17px;
  margin-bottom:64px;
  width: 30%;
  line-height: 30px;
  flex-grow: 1;
  border:1px solid lightgray;
  position: relative;

  &:after{
    position: absolute;
    content: '';
    width:8px;
    height:8px;
    right: 50%;
    bottom: -4px;
    background-color: $orangeColor;
    border-radius: 50%;
    transform: translateX(50%);
    //z-index:2;

  }
  &:before{
    position: absolute;
    content: '';
    width:50px;
    height:50px;
    right: 50%;
    bottom: -25px;
    background-color: #fff;
    //z-index:1;
    transform: translateX(50%);
  }

}

.box-title {
  padding-bottom: 20px;
  color: $mainColor;
  font-weight: 500;
}

.bio-box-date{
  padding-bottom: 5px;
}


@media (max-width:700px) {
  .bio.row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bio-box{
    width:80%;

  }
}

@media (max-width: 500px){
  .about-me-info{
    width:90%;
  }
  .about-me-title{
    &:after{
      width:250px;
    }
  }
}
