.burger{
  width: 40px;
  height:40px;
  background-color: transparent;
  position:relative;
  top:10px;
  right:0;
  display: none;
  z-index:4;

}

.burger span{
  height: 6px;
  width: 100%;
  background-color: $orangeColor;
  display: block;
  position: absolute;
  border-radius: 10px;
}

.burger span:first-child{
  top: 0;
  left: 0;
  animation:spanOneBack 0.8s backwards;
  animation-direction:reverse;
}

.burger span:nth-child(2) {
  top:17px;
  left:0;
  animation:spanTwoBack 0.8s backwards;
  animation-direction:reverse;

}

.burger span:nth-child(3){
  bottom:0;
  left:0;
  animation:spanThreeBack 0.8s backwards;
  animation-direction:reverse;

}

.active {
  span:first-child{
    animation: spanOne 1s forwards;
  }

  span:nth-child(2){
    animation: spanTwo 1s forwards;
  }

  span:nth-child(3){
    animation: spanThree 1s forwards;
  }
}


@keyframes spanOne {
  0%{transform:translateY(0px) rotate(0deg);}
  50%{transform: translateY(17px) rotate(0deg);}
  100%{transform: translateY(17px) rotate(135deg); background-color:#fff;}
}

@keyframes spanTwo {
  0%{transform: translate(0px) rotate(0deg);}
  50%{background-color: transparent}
  100%{background-color: transparent;}

}

@keyframes spanThree {
0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(-17px) rotate(0deg);}
  100%{transform: translateY(-17px) rotate(-135deg); background-color: #fff;}
}

@keyframes spanOneBack{
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(17px) rotate(0deg);}
  100%{transform: translateY(17px) rotate(135deg);}
}

@keyframes spanThreeBack{
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(-17px) rotate(0deg);}
  100%{transform: translateY(-17px) rotate(-135deg);}
}

@keyframes spanTwoBack {
  0%{transform: translate(0px) rotate(0deg);}
  50%{background-color: transparent}
  100%{background-color: transparent;}

}

@media (max-width: 1430px){
  .burger{
    display:block;
    position: fixed;
    top:20px;
    right:20px;
  }
  .main-nav{
    display:none;
  }
}

// sidebar //

.sidebar{
  height:100%;
  width: 250px;
  position: fixed;
  right: -320px;
  top:0;
  transition: right .7s;
  background-color: #d3971f;
  opacity:1;
  z-index:3;
  display: block;
  border-radius: 10px 0 0 10px;

}

.sidebar-list{
  list-style: none;
  margin-top:60px;
  text-align: center;

}

.sidebar-item{
  padding-bottom:20px;
}

.activeItem {
  display:block;

}

.sidebar-anchor{
  color: #fff;
  text-decoration: none;
  padding-bottom:7px;
  font-size: 30px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width:0;
    height:2px;
    bottom:3px;
    left:0;
    background-color: $blueCol;
    transition: all 0.4s ease-in-out;
  }

}

.sidebar-anchor:hover:before {
  width: 100%;
}







