.certificates{
  min-height:700px;
  background: #fff;
  padding:100px 0;
}

.certificates .row{
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}

.cert-box{
  padding:40px;
  margin:0;

}
.cert{
  width:300px;
  height:150px;
  position:relative;
  padding:20px;
  line-height: 30px;
  font-size:20px;
  background: $blueCol;
  color:white;
  border-radius: 10px;
  flex-grow: 1;
  display:flex;
  align-items: center;
}

i{
  color: $orangeColor;
  font-size:26px;
}

.certBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  top:10px;
  left:270px;
}

.hiddenCert{
  padding-top:20px;
  width:300px;
  height:60px;
  background: #fff;
  display:none;
  font-size: 20px;
}

@media (max-width:500px){
  .certificates{
    padding: 40px 0;
  }
  .certificates .row{
    margin-top:0;
  }
  .cert-box{
    padding:20px;
  }
}