.main-footer{
  min-height:500px;
  text-align:center;
  background-color: $blueCol;
  color: #fff;
  padding:100px 0 50px 0;
  font-weight:300;
}

.main-footer .row{
  display:flex;
  text-align: left;
}

.footer-contact-title{
  font-weight:200;
  padding:20px;
  font-size: 30px;
}

.footer-list{
  line-height: 36px;
  font-weight:300;
  padding-left:20px;
  list-style: none;
}

.footer-email{
  color: $orangeColor;
}

.footer-message-title{
  padding-bottom:20px;
  padding-top:20px;
  font-weight:200;
  font-size: 30px;
}

form{
  padding-bottom:80px;
}

label{
  display:none;
}

input{
  display:block;
  border-radius: 3px;
  padding: 6px 36px;
  border:none;
  margin:10px 0;
  width:100%;
  max-width:240px;
}

input[type="submit"]{
  background-color:$orangeColor;
  cursor: pointer;
}

textarea{
  border-radius: 3px;
  border:none;
  margin-bottom:10px;
  font-family: 'Lato', sans-serif;
  padding: 6px 30px;
  font-weight:200;
  max-width:370px;
  min-height:120px;
  width:100%;
}

.copyright{
  margin-top:20px;
}

@media (max-width:800px){
  .row{
    flex-direction: column;

    align-items:center;
  }
}

@media (max-width: 500px){
  textarea, input{
    max-width:100%;
  }
}