.main-footer{
  min-height:500px;
  text-align:center;
  background-color: $blueCol;
  color: #fff;
  padding:100px 0 50px 0;
  font-weight:300;
}

.main-footer .row{
  display:flex;
  text-align: left;
}

.footer-contact-title{
  font-weight:200;
  padding:20px 20px 20px 0;
  font-size: 30px;
}

.footer-list{
  line-height: 36px;
  font-weight:300;
  padding:0 20px 20px 0;
  list-style: none;
  font-size:17px;
}

.footer-email{
  color: $orangeColor;
}

.footer-message-title{
  padding:20px 20px 20px 0;
  font-weight:200;
  font-size: 30px;
}

.social-icon-list{
  display: flex;
  list-style: none;
}

.social-icon{
  margin-right:20px;

  &:hover{
    opacity:0.5;
    transition:1s;
  }
}

// form //

.contact-form{
  padding-bottom:80px;
}

label{
  display:none;
}

input{
  display:block;
  border-radius: 3px;
  padding: 10px 36px;
  border:none;
  margin:10px 0;
  width:100%;
  max-width:300px;
  font-size: 17px;

}

input[type="submit"]{
  background-color:$orangeColor;
  cursor: pointer;
  max-width: 150px;
  appearance: none;
}

textarea{
  border-radius: 3px;
  border:none;
  margin-bottom:10px;
  font-family: 'Lato', sans-serif;
  padding: 6px 30px;
  font-weight:200;
  max-width:370px;
  min-height:150px;
  width:100%;
  font-size: 17px;
}

.copyright{
  margin-top:20px;
}

@media (max-width:800px){
  .row{
    flex-direction: column;
    align-items:center;
  }
  .col-6{
    padding:0;
  }
}

@media (max-width: 500px){
  textarea, input{
    max-width:100%;
  }
  .main-footer{
    padding:40px 0;
  }
}