.main-hero{
  height: 100vh;
  background: url("../images/mainPic.jpg") no-repeat fixed center top;
  background-size: contain;
  position: relative;
  overflow-x: hidden;
  opacity:0;
}

@media (max-width:1000px){
  .main-hero{
    height:500px;
  }
}

@media (max-width:700px){
  .main-hero{
    height:370px;
  }
}

@media (max-width:500px){
  .main-hero{
    height:270px;
  }
}