
.main-hero{
  height: 100vh;
  background: url("../images/mainPic.jpg") no-repeat fixed center top;
  background-size: contain;
  position: relative;
  overflow-x: hidden;
  opacity:0;

}

.hiddenHero{
  display: none;
}

.main-header-list{
  display: flex;
  list-style: none;
  padding:0;
  margin-top:20px;

}

.social-icon{
  margin-right:20px;

  &:hover{
    opacity:0.5;
    transition:1s;
  }
}