.speeches{
  min-height: 1100px;
  background: $blueCol;
  padding: 100px 0;
}

.speech{
  opacity:0;
  padding:20px 100px;
  background-color: #fff;
  margin: 40px 20px;
  font-size: 20px;
  border-radius: 10px;
  line-height: 30px;
  transform: translateY(100px);
}

.speech.active {
  opacity: 1;
  transform: translateY(0px);
}

.speech:first-child {
  transition: all .5s .2s ease-in-out;
}

.speech:nth-child(2) {
  transition: all .5s .4s ease-in-out;
}

.speech:nth-child(3) {
  transition: all .5s .6s ease-in-out;
}

.speech:last-child {
  transition: all .5s .6s ease-in-out;
}

.speeches .section-title{
  color:#fff;
}

.speech-place {
  padding-bottom: 5px;
  padding-top:10px;
  font-weight: 600;
}

.speech-date{

  color: $mainColor;
  font-weight: 300;
  padding-bottom: 20px;
  position: relative;

  &:after{
    position: absolute;
    top: 40px;
    left: -5%;
    content: '';
    width:250px;
    height:2px;
    background-color: $orangeColor;

  }

  &:before{
    position: absolute;
    content: '';
    width:8px;
    height:8px;
    left:-2%;
    top: 37px;
    background-color: $orangeColor;
    border-radius: 50%;
  }
}

@media (max-width: 700px){
  .speech{
    padding: 20px 40px;
  }
}

@media (max-width: 500px){
  .speech{
    padding: 20px 30px;
  }
  .speech-date{
    &:after{
      width:180px;
      left:-7%;
    }
  }
  .speeches{
    padding:40px 0;
  }

}



