.video{
  min-height: 600px;
  background: #f9f9f9;
}


.video .row{
  justify-content: center;
  align-items: center;
  margin-top: 60px;

}

.video .col-4{
text-align: center;

}

@media (max-width:900px){

  .video .row{
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding-bottom:50px;
  }
}
