.video{
  max-height: 800px;
  background: #f9f9f9;
  padding:100px 0;
}


.video .row{
  padding-top:100px;
  display:block;
}

.col{
  flex-grow:1;
  padding: 0 10px;
}

.video-box {
  max-width:500px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;

}

.box-photo{
  display:inline-block;
  position: relative;
  outline: none;
}

.box-photo-overlay{
  position: absolute;
  top:-520px;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  background: $blueCol;
  transition: 0.5s all;
  &:after{
    position: absolute;
    top:50%;
    left:50%;
    width:170px;
    height:60px;
    border-bottom:1px solid white;
    content:'';
    transform: translate(-50%);
  }
}

.box-photo:hover .box-photo-overlay {
  opacity:1;
  top:0;
}


.box-photo img {
  display: block;
  max-width: 100%;
  height:315px;
  width: 390px;
  overflow:hidden;

}

.box-title{
  margin-top:20px;
}

.video .slick-prev:before,
.video .slick-next:before {
  color:#333;
  font-family: 'FontAwesome';
}

.video .slick-prev:before {
  content: '\f053';
}
.video .slick-next:before {
  content: '\f054';

}

.slick-dots{
  bottom: -28px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}


@media (max-width:902px){
  .video .row{
    flex-direction: column;
    padding-bottom: 50px;
  }

  .video-box {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 500px){
  .video{
    padding: 40px 0;
  }
  .video .row{
    padding-top:50px;
  }
  .slick-dots{
    bottom: 0px;
  }
}


